textarea {
    resize: none;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: 1px solid black ;
    border-radius: 5px;
    margin-Top: 10px;
    margin-bottom: 10px;
}
.contenedor{
    margin: 50px auto;
    width: 550px;
    padding: 30px;
    background: rgba(0,0,0,0.05);
    border-radius: 10px;
}
fieldset{
    border-radius: 5px;
}
select{
    width: 100%; 
    padding: 10px 0;
    background: transparent;
    border: 1px solid black ;
    border-radius: 5px;
    margin-Top: 10px;
    margin-bottom: 10px;
}
input{
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: 1px solid black ;
    border-radius: 5px;
    margin-Top: 10px;
    margin-bottom: 10px;
    
}
input[type="submit"]{
    background-color: #f72585;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}  
